{% extends 'base.html' %}
    {% block content %}
        {{ super() }}
            <div style="display: flex; align-items: center;">
                <h1>{{ status }}</h1>
                <span style="display: block; height: 40px;width: 40px; border-radius: 40px; background-color: {{ color }}; margin-left: 20px;"></span>
            </div>

            <form action="" class="mt-5">
              <input type="radio" name="radio" value="yes" class="Toggle__input" />
              <input type="radio" name="radio" value="no" class="Toggle__input" />
              <button>Send command</button>
            </form>


    {% endblock %}